body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Manrope";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select {
  border: 1px solid #e7e7e7 !important;
  height: 40px;
  border-radius: 8px !important;
  box-shadow: 0px 2px 2px -1px #0000000a;
  width: 250px;
  padding: 16px !important;
  display: block;
}

/* HTML: <div class="loader"></div> */
.loader-container {
  display: flex;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

button.ccw-btn {
  width: 200px;
  height: 44px;
  background: #047857 !important;
  margin-top: 16px !important;
  color: white !important;
  border-radius: 4px !important;
}

button:disabled {
  background-color: #e7e7e7 !important;
}

.ccw-attendance-app {
  /* text-align: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center; */
}

.ccw-attendance-app .create-barcode,
.ccw-attendance-app .ccw-emails,
.ccw-attendance-app .attendance-container {
  text-align: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
}

.ccw-attendance-app .create-barcode h4 {
  font-size: 24px;
}

.ccw-attendance-app .create-barcode .react-time-picker {
  font-size: 24px;
  margin-bottom: 40px;
}

.ccw-attendance-app .create-barcode .react-time-picker__wrapper {
  /* padding: 10px;
  border-radius: 8px; */
  border: none;
}

.ccw-attendance-app
  .create-barcode
  .react-time-picker__wrapper
  .react-time-picker__inputGroup {
  display: flex;
  gap: 10px;
}

.ccw-attendance-app .create-barcode .react-time-picker input {
  width: 100px !important;
  padding: 0 !important;
  text-align: center;
}

.ccw-attendance-app .create-barcode h4 {
  /* height: 13px; */
  font-weight: 700;
}

.ccw-attendance-app .create-barcode .btn-create {
  background: green;
  margin-top: 15px;
  padding: 12px;
  color: white;
  border-radius: 8px;
  margin-bottom: 40px;
  width: 150px;
  height: 48px;
  text-align: center;
}

.ccw-attendance-app .create-barcode .btn-create:disabled {
  background: gainsboro;
}

.ccw-attendance-app .create-barcode input.create-barcode-input {
  width: 200px;
  border-radius: 0 !important;
  height: 48px;
}

.ccw-attendance-app .ccw-emails h3 {
  font-size: 24px;
  font-weight: 600;
  /* margin-bottom: 8px; */
}

.ccw-attendance-app .ccw-emails p {
  font-size: 16px;
  margin-bottom: 8px;
}

.ccw-attendance-app .ccw-emails .input-flex {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ccw-attendance-app .ccw-emails input {
  width: 290px;
  margin-bottom: 8px;
}

.ccw-attendance-app .ccw-emails span.remove {
  font-size: 12px;
  color: red;
  margin-left: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.ccw-attendance-app .ccw-emails p.add-email-btn {
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
}

.ccw-attendance-app .ccw-emails a.see-email-repo {
  font-size: 13px;
  margin-top: 14px;
  text-decoration: underline;
  color: #4283e2;
}

.ccw-attendance-app .attendance-container h4 {
  font-size: 24px;
  font-weight: 600;
}

.ccw-attendance-app .attendance-container h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 6px 25px;
}

.ccw-attendance-app .attendance-container input {
  width: 300px;
  margin-bottom: 10px;
}

.ccw-attendance-app .repository {
  padding: 80px 100px;
}

.ccw-attendance-app .repository .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.ccw-attendance-app .date-picker-container {
  /* display: flex;
  align-items: center;
  position: relative; */
}

.react-datepicker__month-container {
  width: 100%;
}

.ccw-attendance-app .date-picker-container svg {
  position: absolute;
  right: 20px;
  top: 15px;
}

.ccw-attendance-app .date-picker-container .react-datepicker-time__input input {
  width: auto !important;
}

.ccw-attendance-app .date-picker-container input {
  height: 48px;
  border-radius: 0 !important;
  width: 200px !important;
}

.ccw-attendance-app .repository .header h3 {
  font-weight: 800;
  font-size: 24px;
}

.ccw-attendance-app .repository .header p {
  font-weight: 400;
  font-size: 15px;
}

.ccw-attendance-app .repository .header .filters {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ccw-attendance-app .repository .header .filters button {
  border: 1px solid #e7e7e7;
  height: fit-content;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ccw-attendance-app .repository .filters-info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.ccw-attendance-app .repository .filters-info p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.ccw-attendance-app .repository .filters-info p:last-child {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 400;
}

.ccw-attendance-app .repository ._custom-table {
  margin-top: 70px;
}

.ccw-attendance-app .repository ._custom-table table {
  width: 100%;
}

.ccw-attendance-app .repository ._custom-table table thead th {
  text-align: left;
}

.ccw-attendance-app .repository ._custom-table table tbody tr {
  height: 60px;
  cursor: pointer;
}

.ccw-attendance-app .repository ._custom-table table tbody tr:nth-child(even) {
  background: #f5f5f5;
}

.ccw-attendance-app .repository ._custom-table table tbody tr td.actions {
  text-align: right;
  width: 100%;
}

.ccw-attendance-app
  .repository
  ._custom-table
  table
  tbody
  tr
  td.actions
  button {
  border: 1px solid #e7e7e7;
  padding: 10px 25px;
}

.ccw-attendance-app
  .repository
  ._custom-table
  table
  tbody
  tr
  td.actions
  button:last-child {
  margin-left: 8px;
}

.ccw-attendance-app
  .repository
  ._custom-table
  table
  tbody
  tr
  td.actions
  button
  svg {
  display: inline;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .ccw-attendance-app .repository {
    padding: 10px 30px;
    font-size: 13px;
  }

  .ccw-attendance-app .repository .header {
    display: block;
    padding-top: 50px;
  }

  .ccw-attendance-app .repository .header .filters {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-flow: wrap;
    margin-top: 25px;
  }

  .ccw-attendance-app .repository ._custom-table table tbody tr td.actions {
    text-align: right;
    width: 100%;
    display: flex;
    font-size: 12px;
    flex-flow: row;
  }

  .ccw-attendance-app
    .repository
    ._custom-table
    table
    tbody
    tr
    td.actions
    button {
    padding: 0px 10px;
  }
}
